{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": -31.99223722595818,
        "longitude": 115.8574216067791,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "UTC",
        "external_url": null,
        "internal_url": null
    }
}